<footer class="footer" id="fin">
    <div class="place">
      <div class="about footer-content">
        <h2>Easy-Finding</h2>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Excepturi ex voluptates esse consequuntur in eius nam veniam dolor, inventore autem labore, ipsum, rerum vel repellat! 
          Repudiandae est iure sit quibusdam?
        </p>
        <p class="social-media">
          {% include social-link.html %}
        </p>
      </div>
      <div class="contact footer-content">
        <h2 class="head"> Nous Contactez </h2>
        <ul class="cntc-elmt">
          <li class="icone"><i class="fa solid fa-location-dot symb"></i> &nbsp;Adresse</li>
          <p>Lorem ipsum dolor sit amet.</p>
          <li class="icone"><i class="fa solid fa-envelope symb"></i> &nbsp;E-mail</li>
          <p>Lorem ipsum dolor sit amet.</p>
          <li class="icone"><i class="fa brands fa-whatsapp symb"></i> &nbsp;Whatsapp</li>
          <p> &nbsp;+226 00 00 98 90/+212 06 32 43 00 00</p>
        </ul>
      </div>
      <nav class="ln-utl footer-content">
        <h2>Liens Utiles</h2>
        <ul class="footer-nav nav-link">
          {% include nav-link.html %}
        </ul>
      </nav>
    </div>
    <div class="rights"><h5>© Easy-Finding Corp(); 2022.<span>All Rights Reserved</span></h5></div>
  </footer>
  
  <!-- <div id="deuxiemeTrait"></div>
              <div id="copyrightEtIcons">
                  <div id="copyright">
                      <span>© Easy-Finding Corp(); 2022. All Rights Reserved</span>
                  </div>
                  
              </div>
          </div> -->