<li><a href="/#">Accueil</a></li>
<li><a href="#service">Services</a></li>
<li class="dropdown position">
    <a class="drop-trigger" href="/gallery">Gallerie</a>
    <ul class="drop-menu">
        <!-- <li>Eléments</li> -->
        <li><a href="/gallery/index.html">Maisons à louer</a></li>
        <li><a href="/gallery/article.html">Articles à acheter</a></li>
        <li><a href="/gallery/service.html">Services disponibles</a></li>
    </ul>
</li>

<!-- <li><a href="/">Temoignages</a></li> -->
<li><a href="#fin">Contact</a></li>
<li><button class="annonce tilt-shaking"><a href="https://wa.me/+226 51929890" class="ln-annonce"><i class="fa-solid fa-plus">&nbsp;</i>Déposer une annonce</a></button></li>

